In [1]:
#lets install lhe selenium libariries
!pip install selenium

Requirement already satisfied: selenium in c:\users\inpshy\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\inpshy\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [3]:
# Importing Libraries
import selenium
import pandas as pd
import time
import numpy as np
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re
import urllib3

In [4]:
#lets first connect with webdriver
driver=webdriver.Chrome(r"C:\Users\INPshy\Downloads\chromedriver.exe")

SessionNotCreatedException: Message: session not created: This version of ChromeDriver only supports Chrome version 93
Current browser version is 95.0.4638.69 with binary path C:\Program Files (x86)\Google\Chrome\Application\chrome.exe

In [4]:
url='https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-22/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng'
driver.get(url)

In [5]:
#select manually data as i have selected present date data directly from site

In [106]:
Flight_name=[]
Dept_time=[]
Arrival_time=[]
Source=[]
Destination=[]
Travel_hour=[]
Price=[]

In [107]:
# Extracting flight name
try:
    flight= driver.find_elements_by_xpath('//div[@class="makeFlex simpleow"]/div/div/span')
    for i in flight:
        Flight_name.append(i.text)
except NoSuchElementException:
    Flight_name.append('-')

In [108]:
len(Flight_name)

19

In [109]:
#extracting Dept_time

try:
    dept=driver.find_elements_by_xpath('//div[@class="makeFlex simpleow"]/div/label/div/div/div/div/p[1]/span')  
    for i in dept:
        Dept_time.append(i.text)
except NoSuchElementException:
    Dept_time.append('-')

In [110]:
Dept_time

['21:20',
 '11:30',
 '19:25',
 '11:30',
 '19:45',
 '22:20',
 '18:50',
 '00:30',
 '',
 '',
 '',
 '',
 '',
 '',
 '18:45',
 '21:40',
 '20:05',
 '23:10',
 '20:15',
 '23:05',
 '20:40',
 '23:20',
 '21:50',
 '00:35',
 '22:20',
 '01:05',
 '22:40',
 '01:25',
 '22:00',
 '06:50',
 '18:15',
 '16:55',
 '18:40',
 '21:30',
 '19:50',
 '22:40',
 '19:15',
 '01:00']

In [111]:
len(Dept_time)

38

In [112]:
#segregate dep time and arrival time
Dep_time1=[]
Arri_time1=[]
for i in range(0,len(Dept_time),2):
    Dep_time1.append(Dept_time[i])
    Arri_time1.append(Dept_time[i+1])

In [113]:
Dep_time1

['21:20',
 '19:25',
 '19:45',
 '18:50',
 '',
 '',
 '',
 '18:45',
 '20:05',
 '20:15',
 '20:40',
 '21:50',
 '22:20',
 '22:40',
 '22:00',
 '18:15',
 '18:40',
 '19:50',
 '19:15']

In [114]:
Arri_time1

['11:30',
 '11:30',
 '22:20',
 '00:30',
 '',
 '',
 '',
 '21:40',
 '23:10',
 '23:05',
 '23:20',
 '00:35',
 '01:05',
 '01:25',
 '06:50',
 '16:55',
 '21:30',
 '22:40',
 '01:00']

In [115]:
len(Arri_time1)

19

In [116]:
#extracting source

try:
    source=driver.find_elements_by_xpath('//div[@class="makeFlex simpleow"]/div/label/div/div/div/div/p[2]')  
    for i in source:
        Source.append(i.text)
except NoSuchElementException:
    Source.append('-')

In [117]:
Source

['New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 '',
 '',
 '',
 '',
 '',
 '',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru']

In [118]:
#segregate Source and destination 
Source1=[]
Destination1=[]
for i in range(0,len(Source),2):
    Source1.append(Source[i])
    Destination1.append(Source[i+1])

In [119]:
Destination1

['Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 '',
 '',
 '',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [120]:
#extracting Travel hour

try:
    travel=driver.find_elements_by_xpath('//div[@class="makeFlex fontSize12 flexOne gap-x-10"]/div[2]/p')  
    for i in travel:
        Travel_hour.append(i.text)
except NoSuchElementException:
    Travel_hour.append('-')

In [121]:
Travel_hour

['14 h 10 m',
 '16 h 05 m',
 '02 h 35 m',
 '05 h 40 m',
 '',
 '',
 '',
 '02 h 55 m',
 '03 h 05 m',
 '02 h 50 m',
 '02 h 40 m',
 '02 h 45 m',
 '02 h 45 m',
 '02 h 45 m',
 '08 h 50 m',
 '22 h 40 m',
 '02 h 50 m',
 '02 h 50 m',
 '05 h 45 m']

In [122]:
#extracting source

try:
    price=driver.find_elements_by_xpath('//div[@class="priceSection"]/div/div/p')  
    for i in price:
        Price.append(i.text)
except NoSuchElementException:
    Price.append('-')
Price

['₹ 7,423',
 '₹ 7,423',
 '₹ 7,424',
 '₹ 7,424',
 '',
 '',
 '',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,426',
 '₹ 7,845',
 '₹ 12,194']

In [202]:
len(Price[:19])

19

In [123]:
#click on next page manually

In [124]:
#second page 23 oct 
Flight_name23=[]
Dept_time23=[]
Arrival_time23=[]
Source23=[]
Destination23=[]
Travel_hour23=[]
Price23=[]

In [125]:
# Extracting flight name
try:
    flight= driver.find_elements_by_xpath('//div[@class="makeFlex simpleow"]/div/div/span')
    for i in flight:
        Flight_name23.append(i.text)
except NoSuchElementException:
    Flight_name23.append('-')

In [127]:
len(Flight_name23)

64

In [128]:
#extracting Dept_time 23

try:
    dept=driver.find_elements_by_xpath('//div[@class="makeFlex simpleow"]/div/label/div/div/div/div/p[1]/span')  
    for i in dept:
        Dept_time23.append(i.text)
except NoSuchElementException:
    Dept_time23.append('-')
len(Dept_time23)

128

In [129]:
#segregate dep time and arrival time
Dep_time2=[]
Arri_time2=[]
for i in range(0,len(Dept_time23),2):
    Dep_time2.append(Dept_time23[i])
    Arri_time2.append(Dept_time23[i+1])

In [132]:
len(Dep_time2)

64

In [133]:
#extracting source 23

try:
    source=driver.find_elements_by_xpath('//div[@class="makeFlex simpleow"]/div/label/div/div/div/div/p[2]')  
    for i in source:
        Source23.append(i.text)
except NoSuchElementException:
    Source23.append('-')

In [134]:
len(Source23)

128

In [29]:
Source23

['New Delhi',
 'Bengaluru',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 '',
 '',
 '',
 '',
 '',
 '',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'New Delhi',
 'Bengaluru',
 'New Delhi',
 'Bengaluru']

In [135]:
#segregate Source and destination  23 oct
Source2=[]
Destination2=[]
for i in range(0,len(Source23),2):
    Source2.append(Source23[i])
    Destination2.append(Source23[i+1])

In [137]:
len(Source2)

64

In [138]:
#extracting Travel hour

try:
    travel=driver.find_elements_by_xpath('//div[@class="makeFlex fontSize12 flexOne gap-x-10"]/div[2]/p')  
    for i in travel:
        Travel_hour23.append(i.text)
except NoSuchElementException:
    Travel_hour23.append('-')

In [139]:
len(Travel_hour23)

64

In [142]:
#extract Price 23 oct
try:
    price=driver.find_elements_by_xpath('//div[@class="priceSection"]/div/div/p')  
    for i in price:
        Price23.append(i.text)
except NoSuchElementException:
    Price23.append('-')
Price23

['₹ 7,423',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '₹ 7,424',
 '₹ 7,424',
 '₹ 7,424',
 '',
 '',
 '',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '₹ 7,426',
 '₹ 7,426',
 '₹ 7,426',
 '₹ 7,845',
 '₹ 7,845',
 '₹ 7,845',
 '₹ 8,055',
 '₹ 8,071',
 '',
 '',
 '',
 '₹ 8,790',
 '₹ 8,790',
 '₹ 9,315',
 '₹ 10,313',
 '₹ 10,407',
 '',
 '',
 '',
 '',
 '',
 '₹ 11,520',
 '₹ 14,880']

In [143]:
len(Price23)

64

In [144]:
#click on manually page 24 Oct

In [145]:
#third page 24 oct 
Flight_name24=[]
Dept_time24=[]
Arrival_time24=[]
Source24=[]
Destination24=[]
Travel_hour24=[]
Price24=[]

In [146]:
# Extracting flight name
try:
    flight= driver.find_elements_by_xpath('//div[@class="makeFlex simpleow"]/div/div/span')
    for i in flight:
        Flight_name24.append(i.text)
except NoSuchElementException:
    Flight_name24.append('-')

In [148]:
len(Flight_name24)

58

In [149]:
#extracting Dept_time 23

try:
    dept=driver.find_elements_by_xpath('//div[@class="makeFlex simpleow"]/div/label/div/div/div/div/p[1]/span')  
    for i in dept:
        Dept_time24.append(i.text)
except NoSuchElementException:
    Dept_time24.append('-')
len(Dept_time24)

116

In [150]:
#segregate dep time and arrival time
Dep_time3=[]
Arri_time3=[]
for i in range(0,len(Dept_time24),2):
    Dep_time3.append(Dept_time24[i])
    Arri_time3.append(Dept_time24[i+1])

In [152]:
len(Arri_time3)

58

In [153]:
#extracting source 24

try:
    source=driver.find_elements_by_xpath('//div[@class="makeFlex simpleow"]/div/label/div/div/div/div/p[2]')  
    for i in source:
        Source24.append(i.text)
except NoSuchElementException:
    Source24.append('-')

In [154]:
#segregate Source and destination  24 oct
Source3=[]
Destination3=[]
for i in range(0,len(Source24),2):
    Source3.append(Source24[i])
    Destination3.append(Source24[i+1])

In [155]:
len(Source3)

58

In [157]:
#extracting Travel hour 24

try:
    travel=driver.find_elements_by_xpath('//div[@class="makeFlex fontSize12 flexOne gap-x-10"]/div[2]/p')  
    for i in travel:
        Travel_hour24.append(i.text)
except NoSuchElementException:
    Travel_hour24.append('-')

In [158]:
len(Travel_hour24)

58

In [159]:
#extract Price 24 oct
try:
    price=driver.find_elements_by_xpath('//div[@class="priceSection"]/div/div/p')  
    for i in price:
        Price24.append(i.text)
except NoSuchElementException:
    Price24.append('-')
Price24

['₹ 7,423',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '₹ 7,424',
 '₹ 7,424',
 '₹ 7,424',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '₹ 7,425',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '₹ 7,426',
 '₹ 7,426',
 '₹ 7,530',
 '₹ 7,635',
 '₹ 7,845',
 '₹ 7,845',
 '₹ 8,686',
 '₹ 8,790',
 '₹ 9,158',
 '₹ 9,657',
 '₹ 10,050',
 '₹ 10,409',
 '',
 '',
 '',
 '',
 '',
 '',
 '₹ 11,520',
 '₹ 13,620',
 '₹ 20,340']

In [160]:
len(Price24)

58

In [161]:
#click manually on page 25 Oct

In [162]:
#third page 25 oct 
Flight_name25=[]
Dept_time25=[]
Arrival_time25=[]
Source25=[]
Destination25=[]
Travel_hour25=[]
Price25=[]

In [163]:
# Extracting flight name
try:
    flight= driver.find_elements_by_xpath('//div[@class="makeFlex simpleow"]/div/div/span')
    for i in flight:
        Flight_name25.append(i.text)
except NoSuchElementException:
    Flight_name25.append('-')

In [165]:
len(Flight_name25)

58

In [166]:
#extracting Dept_time 25

try:
    dept=driver.find_elements_by_xpath('//div[@class="makeFlex simpleow"]/div/label/div/div/div/div/p[1]/span')  
    for i in dept:
        Dept_time25.append(i.text)
except NoSuchElementException:
    Dept_time25.append('-')
len(Dept_time25)

116

In [167]:
#segregate dep time and arrival time
Dep_time4=[]
Arri_time4=[]
for i in range(0,len(Dept_time25),2):
    Dep_time4.append(Dept_time25[i])
    Arri_time4.append(Dept_time25[i+1])

In [170]:
len(Dep_time4),len(Arri_time4)

(58, 58)

In [171]:
#extracting source 25 oct

try:
    source=driver.find_elements_by_xpath('//div[@class="makeFlex simpleow"]/div/label/div/div/div/div/p[2]')  
    for i in source:
        Source25.append(i.text)
except NoSuchElementException:
    Source25.append('-')

In [172]:
len(Source25)

116

In [173]:
#segregate Source and destination  25 oct
Source4=[]
Destination4=[]
for i in range(0,len(Source25),2):
    Source4.append(Source25[i])
    Destination4.append(Source25[i+1])

In [175]:
len(Source4),len(Destination4)

(58, 58)

In [176]:
#extracting Travel hour 25  oct

try:
    travel=driver.find_elements_by_xpath('//div[@class="makeFlex fontSize12 flexOne gap-x-10"]/div[2]/p')  
    for i in travel:
        Travel_hour25.append(i.text)
except NoSuchElementException:
    Travel_hour25.append('-')

In [177]:
len(Travel_hour25)

58

In [178]:
#extract Price 25 oct
try:
    price=driver.find_elements_by_xpath('//div[@class="priceSection"]/div/div/p')  
    for i in price:
        Price25.append(i.text)
except NoSuchElementException:
    Price25.append('-')
len(Price25)

58

In [206]:
#click manually on page 26 oct

In [207]:
#fourth page 26 oct 
Flight_name26=[]
Dept_time26=[]
Arrival_time26=[]
Source26=[]
Destination26=[]
Travel_hour26=[]
Price26=[]

In [209]:
# Extracting flight name
try:
    flight= driver.find_elements_by_xpath('//div[@class="makeFlex simpleow"]/div/div/span')
    for i in flight:
        Flight_name26.append(i.text)
except NoSuchElementException:
    Flight_name26.append('-')

In [210]:
len(Flight_name26)

56

In [211]:
#extracting Dept_time 26 oct

try:
    dept=driver.find_elements_by_xpath('//div[@class="makeFlex simpleow"]/div/label/div/div/div/div/p[1]/span')  
    for i in dept:
        Dept_time26.append(i.text)
except NoSuchElementException:
    Dept_time26.append('-')
len(Dept_time26)

112

In [212]:
#segregate dep time and arrival time
Dep_time5=[]
Arri_time5=[]
for i in range(0,len(Dept_time26),2):
    Dep_time5.append(Dept_time26[i])
    Arri_time5.append(Dept_time26[i+1])

In [213]:
len(Dep_time5),len(Arri_time5)

(56, 56)

In [214]:
#extracting source 26 oct

try:
    source=driver.find_elements_by_xpath('//div[@class="makeFlex simpleow"]/div/label/div/div/div/div/p[2]')  
    for i in source:
        Source26.append(i.text)
except NoSuchElementException:
    Source26.append('-')

In [215]:
len(Source26)

112

In [216]:
#segregate Source and destination  26 oct
Source5=[]
Destination5=[]
for i in range(0,len(Source26),2):
    Source5.append(Source26[i])
    Destination5.append(Source26[i+1])

In [217]:
len(Source5),len(Destination5)

(56, 56)

In [218]:
#extracting Travel hour 26  oct

try:
    travel=driver.find_elements_by_xpath('//div[@class="makeFlex fontSize12 flexOne gap-x-10"]/div[2]/p')  
    for i in travel:
        Travel_hour26.append(i.text)
except NoSuchElementException:
    Travel_hour26.append('-')

In [219]:
len(Travel_hour26)

56

In [220]:
#extract Price 25 oct
try:
    price=driver.find_elements_by_xpath('//div[@class="priceSection"]/div/div/p')  
    for i in price:
        Price26.append(i.text)
except NoSuchElementException:
    Price26.append('-')
len(Price26)

56

In [221]:
#concatinate all data and make dataframe
#1 Flight_Name
Flight_Name=Flight_name+Flight_name23+Flight_name24+Flight_name25+Flight_name26
len(Flight_Name)

255

In [222]:
#Dep_Time
Dep_Time=Dep_time1+Dep_time2+Dep_time3+Dep_time4+Dep_time5
len(Dep_Time)

255

In [223]:
#Arrival_Time
Arrival_Time=Arri_time1+Arri_time2+Arri_time3+Arri_time4+Arri_time5
len(Arrival_Time)

255

In [224]:
#Source
Source=Source1+Source2+Source3+Source4+Source5
len(Source)

255

In [225]:
#Destiination
Destination=Destination1+Destination2+Destination3+Destination4+Destination5
len(Destination)

255

In [226]:
#Travel_Hour
Travel_Hour=Travel_hour+Travel_hour23+Travel_hour24+Travel_hour25+Travel_hour26
len(Travel_Hour)

255

In [227]:
#Fair
Flight_Price=Price[:19]+Price23+Price24+Price25+Price26
len(Flight_Price)

255

In [228]:
data=pd.DataFrame({})
data['Flight_Name']=Flight_Name
data['Dep_Time']=Dep_Time
data['Arrival_Time']=Arrival_Time
data['Source']=Source
data['Destination']=Destination
data['Travel_Hour']=Travel_Hour
data['Flight_Price']=Flight_Price
data

,Flight_Name,Dep_Time,Arrival_Time,Source,Destination,Travel_Hour,Flight_Price
0,AirAsia,21:20,11:30,New Delhi,Bengaluru,14 h 10 m,"₹ 7,423"
1,AirAsia,19:25,11:30,New Delhi,Bengaluru,16 h 05 m,"₹ 7,423"
2,Go First,19:45,22:20,New Delhi,Bengaluru,02 h 35 m,"₹ 7,424"
3,Go First,18:50,00:30,New Delhi,Bengaluru,05 h 40 m,"₹ 7,424"
4,,,,,,,
...,...,...,...,...,...,...,...
250,AirAsia,16:15,18:55,New Delhi,Bengaluru,02 h 40 m,"₹ 7,426"
251,Spicejet,12:00,16:55,New Delhi,Bengaluru,04 h 55 m,"₹ 7,741"
252,Vistara,08:10,10:50,New Delhi,Bengaluru,02 h 40 m,"₹ 8,265"
253,Vistara,06:00,10:45,New Delhi,Bengaluru,04 h 45 m,"₹ 10,785"
254,Vistara,12:45,17:45,New Delhi,Bengaluru,05 h,"₹ 10,785"

In [229]:
#saving file into folder as csv file
data.to_csv(r"C:\Users\INPshy\Desktop\DATA Science\data.csv")